* {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}


.two-boxes {
    display: flex;
    gap: 2px;
}

.left-top {
    width: 25vw;
    height: 158px;
    margin: 7px;
}

.left-bottom {
    width: calc(25vw - 14px);
    height: calc(42vh + 100px - 14px);
    margin: 0px 7px 0px 7px;
    border-radius: 7px 7px 0px 0px;
    background-color: #121212;
}

.right {
    width: 75vw;
    /* height: calc(785px - 100px); */
    margin: 7px 7px 0px 0px;
    overflow: auto;
}

.box ul li {
    list-style: none;
    width: 24px;
    display: flex;
}

.list0 img {
    padding: 20px 20px 5px 20px;
    cursor: pointer;
}

.ul .list {
    padding: 0px 20px;
    font-weight: 500;
    cursor: pointer;
}

.ul .list .p2:hover {
    color: white;
    text-decoration: underline;
}

.left-bottom {
    padding: 0px 7px;
    overflow: auto;
}

.library {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.library .img1 {
    width: 24px;
    padding: 20px 13px;
}

.library p {
    margin: 0px 149px 0px 0px;
    font-weight: 500;
}

.library .img2 {
    width: 16px;
    padding: 7px;
    border-radius: 50%;
}

.library p:hover {
    color: white;
}

.library .img2:hover {
    background-color: #1a1a1a;
}


.song-list div .song {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    gap: 14px;
    border: 0px solid;
    border-radius: 4px;
    margin: 0px 12px 7px 6px;
}

.song-list div .song:hover{
    cursor: pointer;
    background-color: #1a1a1a;
}

.song-list div .song:active{
    background-color: hsla(0, 0%, 14%, 1);
}

.song-list .song .img img{
    padding: 0px 14px;
}


.song-list .song .info{
    line-height: 21px;
}

.song-list .song .info :first-child{
    font-size: 16px;
    font-weight: 600;
    margin: 7px 0px 0px 0px;
}

.song-list .song .info :last-child{
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 7px 0px;
}


.left-bottom-bottom {
    margin: 0px 7px;
    height: 111px; /* 293px */
    width: 25vw;
    border-radius: 0px 0px 7px 7px;
    background-color: #121212;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: end;
}

.left-bottom-bottom .list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 14px 0px 14px;
    margin: 0px;
}

.left-bottom-bottom .list ul li {
    margin: 10px;
    font-size: 11px;
    color: #a7a7a7;
    font-weight: 400;
    cursor: pointer;
}

.nav {
    height: 64px;
    background-color: #101010;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 28px;
}

.arrows {
    display: flex;
    gap: 28px;
    font-size: 34px;
    color: #090909;
    justify-content: center;
}

.arrow {
    padding: 3px 15px;
    cursor: pointer;
}

.arrow:hover {
    background-color: #1a1a1a;
    border-radius: 50%;
}

.arrow:active{
    background-color: #242424;
}

.buttons {
    display: flex;
    gap: 18px;
}

.buttons .button1 button {
    margin: 12px 0px 6px 0px;
    background-color: #090909;
    color: #878787;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    padding: 7px 14px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}

.buttons .button1 button:hover {
    transform: scale(1.05);
    color: white;
}

.buttons .button1 button:active{
    color: #a7a7a7;
    transform: scale(1);
}

.buttons .button2 button {
    margin: 12px 0px 6px 0px;
    background-color: white;
    color: #090909;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    padding: 7px 14px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}

.buttons .button2 button:hover {
    transform: scale(1.05);
}
.buttons .button2 button:active {
    transform: scale(1);
    background-color: #a7a7a7;
}

.playlist .inside-box .h2 h2 {
    margin: 5px;
    cursor: pointer;
}

.playlist .inside-box .h2 h2:hover {
    text-decoration: underline;
}

.playlist .inside-box {
    background-color: #1a1a1a;
    height: 200px;
}

.playlist .inside-box .top .show-all {
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.playlist .inside-box .top .show-all:hover {
    text-decoration: underline;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
}

.songs{
    display: flex;
    margin: 0px 21px 21px 21px;
}

.songs .card1{
    background-color: #151515;
    height: 285px;
    width: 190px;
}

.songs .card1 .img img{
    width: 157px;
    margin: 16px 16px 0px 16px;
}

.songs .card1 .p1 p{
    font-size: 16px;
    font-weight: 700;
    margin: 14px 16px 7px 16px;
}

.songs .card1 .p2 p{
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
    margin: 0px 16px;
}

.player{
    margin: 7px;
    width: calc(100% - 25% - 14px);
    height: 72px;
    padding-left: calc(25% + 7px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play{
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.play .part-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.play .part-1 img{
    width: 16px;
}

.play .part-1 .remuse button{
    background-color: hsla(0, 0%, 30%, 1);
    border-radius: 50%;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
}

.play .part-2{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
}

.play .part-2 .duration :first-child,
:last-child{
    font-size: 12px;
    color: #a7a7a7;
    font-weight: 400;
}


.play .part-2 .duration{
    height: 4px;
    border-radius: 10px;
    background-color: #4d4d4d;
    width: 100%;
    margin: 14px 0px;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.settings img{
    width: 16px;
}